.text-inside-left-grid {
  position: absolute;
  left: 30px;
}

.text-inside-right-grid {
  position: absolute;
  right: 30px;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-column-id {
  flex: 0 0 20px;
  display: flex;
  justify-content: flex-start;
}

.mat-column-fullNodeName, .mat-column-podName, .mat-column-hostIP, .mat-column-podIP,
.mat-column-nodeName, .mat-column-podNamespace, .mat-column-podStatus {
  display: flex;
  justify-content: center;
}
